ALTER TABLE public.registrations ADD COLUMN IF NOT EXISTS ticket_type text DEFAULT 'general' CHECK (ticket_type IN ('general','vip'));
ALTER TABLE public.qr_codes ADD COLUMN IF NOT EXISTS ticket_type text DEFAULT 'general' CHECK (ticket_type IN ('general','vip'));
